@import "@/styles/variables.scss";

.pagination {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;

  :global {
    .rc-pagination-next,
    .rc-pagination-prev {
      button {
        height: 100%;
        min-width: 35px;
        &::after {
          content: "\2039";
          display: block;
        }
      }
    }

    .rc-pagination-next {
      button {
        &::after {
          content: "\203a";
          display: block;
        }
      }
    }

    .rc-pagination-jump-next,
    .rc-pagination-jump-prev {
      button {
        &::after {
          content: "\2022\2022\2022";
          display: block;
        }
      }
    }

    .disabled {
      pointer-events: none;
    }

    a,
    button {
      position: relative;
      display: block;
      color: #fff;
      min-width: 35px;
      text-decoration: none;
      background-color: transparent;
      border: 1px solid #dee2e6;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      padding: 0.375rem 0.75rem;
      cursor: pointer;
      height: 100%;
    }

    .rc-pagination-item-active {
      a {
        z-index: 3;
        color: #000;
        background-color: #fff;
        border-color: #fff;
      }
    }
  }
}
